/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: square;
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 20px 20px;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin: 10px 0px 10px 0px;
}

h1 {
  font-size: 30px;
}

.container {
  width: 900px;
	/* border: 10px dashed black; */
	margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: center;
}

header {
  width: 100%;
  display: flex;
  margin: 20px 0px 20px 0px;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding: 0 25px 0px 0px;
}

nav a {
	color: grey;
	text-decoration: none;
	padding: 0 55px 0px 0px;
}

button {
  width: 150px;
  height: 35px;
	padding: 5px 40px 5px;
  margin: 10px 0px 10px 0px;
	border: 1px solid black;
  border-radius: 5px;
	font-family: 'Titillium Web';
}

p {
  margin: 10px 0px 10px 0px;
}

img.services-header-img {
  margin: 10px 0px 10px 0px;
  width: 100%;
}

div.intro {
  margin: 10px 0px 10px 0px;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid black;
}


section.types {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

section.types div {
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px 10px 10px 10px;
  margin: 30px 10px 10px 10px;
  border: 1px solid black;
  background-color: lightgrey;
  
}

section.facts-section {
  display: flex;
  justify-content: space-between;
}

div.facts {

}

section.facts-section div.facts {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly;
  margin: 10px; 0px; 10px; 0px;
}

footer {
  width: 100%;
  text-align: center;
  margin: 50px 0px 50px; 10px;
}

img.services-info-img {
  width: 40%;
  height: auto;
}